
	<footer>
		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<p class="pull-left"><span><a href="/about">About Infinex</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<a href="/contactus">Contact Us</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<a href="/policy">Private Policy</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<a href="/terms">Terms of Use</a></span></p>
						<p class="pull-right">&copy;&nbsp;2017 Infinex. All rights reserved.</p>
					</div>
					
				</div>
			</div>
		</div>
		
	</footer><!--/Footer-->